{% extends "layout.html" %}

{% block title %}Optimizer (V1.0){% endblock %}

{% block head %}
    <link href="http://js-grid.com/css/jsgrid.min.css" rel="stylesheet" />
    <link href="http://js-grid.com/css/jsgrid-theme.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div id="app" style="width:1200px;margin:20px 20px"><main-page></main-page></div>
{% endblock %}

{% block scripts %}
    <script src="http://js-grid.com/js/jsgrid.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/load.js"></script>
    <script src="/static/js/optimize.js"></script>
    <script src="/static/js/result.js"></script>
    <script src="/static/js/main.js"></script>
{% endblock %}